.hidden {
    display: none;
    visibility: hidden;
}

.is-active-user--false {
    position: relative;
}
.is-active-user--false::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}